*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:100%;
}
button {
    border: none;
    outline: none;
    background-color: white;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 
    "header      header   header      header"       auto
    "left-icons  main     settings    right-menu"   1fr/
     220px       1fr      200px       auto; 


}
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 150px 1fr auto;
    background-color: rgb(204, 204, 204);  
    padding: 7px;
    gap: 3rem;
    
}
.menu-icon-gmail{
   display: grid;
   grid-auto-flow:column;
   align-items: center;
   place-content: start;
   gap: 1rem;
}
.gmail-logo{
    width: 70px;
}

.header-mid-items{
    display: grid;
    grid-template-columns: 1fr auto; 
}
.search-bar{
    display: grid;
}
.search-bar-input{
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border: none;
    padding-left: 10px;
    background-image:url(serach-icon.png.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:left;
    margin:6px 0;
}
.menu-arrow{
    display: grid;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin:6px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;

}
.right-buttons{
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 1rem;
}
.left-icons{
    grid-area: left-icons;
    background-color: rgb(204, 201, 201);
    display: grid;
    grid-template-rows: auto 1fr;
    place-content: center;
    gap: 1rem;
    border: solid 2px rgb(190, 182, 182);
}
.compose-button{
    display: grid;
    grid-template-columns: 130px;
    place-content: start;
    
}
.c-button{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    gap: 1rem;
}



.nav-icons{
    display: grid;
    grid-template-columns: 200px;
    grid-auto-flow: row;
    place-content: start;
    gap: 7px;
}

.f-button{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding: 7px 10px;
    align-items: center;
    border-radius: 20px;
    place-content: start;
}

.main{
    grid-area: main;
    background-color: lightseagreen;
    border-top: solid 2px rgb(190, 182, 182);
}
.main-header{
    gap: 1rem;
    padding: 15px 10px;
    border-bottom: solid 2px rgb(190, 182, 182);
    background-color: rgb(201, 201, 201);
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    
}
.main-header-checkbox{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
}
#check{
    height: 18px;
    width: 18px;
    
}
.main-header-rotaion{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    

}
.main-header-pages{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    place-content: end;
}
.settings {
    grid-area: settings;
    background-color: lightcoral;
    border: solid 2px rgb(190, 182, 182);
}
.right-menu{
    grid-area: right-menu;
    background-color: rgb(206, 206, 206);
    padding: 20px;
    border-top: solid 2px rgb(190, 182, 182);
}
.right-menu-icons{   
    display: grid;
    row-gap: 40px;
}


 
@media screen and (max-width: 1000px){
    .container{
        
        grid-template: 
        "header      header   header "    auto
        "left-icons  main     settings "   1fr/
         220px       1fr      200px ; 
}
.right-menu {
    display: none;
}
}
@media screen and (max-width: 850px){
    .container{
        
        grid-template: 
        "header      header "    auto
        "left-icons  main  "  1fr
        "left-icons  settings" 200px/
         220px       1fr     ; 
}
} 